body {
    background: aquamarine;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div{
    text-align: center;
    padding: 5px;
}